.bar-chart {
    position: relative;
    .form-select {
        position: absolute;
        right: 0;
        width: auto;
        font-size: .75rem;
        border: 0;
        top: -8px;
        a {
            font-size: .75rem;
        }
    }
}

.form-select {
    background-image: url('./../img/circle-chevron-down-solid.svg');
}

.bar-wrapper {
   
    @media (max-width: 767.98px) {
        overflow-x: scroll;
        .chart-container {
            position: relative;  width:900px;
        }
    }
    
}