.round-1 {
    border-radius: 13px;
}

.round-2 {
    border-radius: 20px;
}

.start-80 {
    left: 80% !important;
}
.top-15 {
    top: 15% !important;
}

.flex-1 {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
}

.p-22 {
    padding: 2rem !important;
}

.f-1 {
    font-size: 1.125rem;
}

.f-2 {
    font-size: 0.875rem;
}

.f-3 {
    font-size: 1.25rem;
}

.h-auto {
    height: auto !important;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-muted-2 {
    color: #AFAFAF;
}